@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
html, body {
  background-color: #EFFDF5;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

.bg-secondary {
  background-color: #778CFD !important;
}

.back-to-top {
  background-color: #8755F1;
  width: 60px;
  height: 60px;
  border-radius: 30px;
  position: fixed;
  right: 15px;
  bottom: 5px;
  cursor: pointer;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.back-to-top:hover {
  background-color: #778CFD;
  transition: 500ms ease-in-out;
}

.app {
  position: relative;
}

h1 {
  color: #8755F1;
  font-weight: bold;
}

h2 {
  color: #0E2E50;
}

a {
  color: #8755F1;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

strong {
  color: #8755F1;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

ul li {
  list-style: none;
}

.btn-primary {
  background-color: #8755F1;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.hero {
  height: 85vh;
  margin: 0 auto;
  display: block;
  background-image: linear-gradient(rgba(177, 108, 223, 0.548), rgba(15, 35, 153, 0.589)), url("http://127.0.0.1/immo2/public/img/hero1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0;
}
.hero__content {
  width: 80%;
  margin: auto;
  height: 100%;
  padding-top: 110px;
  text-align: center;
}
.hero__content h1 {
  font-size: 3em;
  color: white;
}
.hero__content p {
  margin: 40px auto;
  font-weight: 800;
}

.search {
  width: 100%;
  padding: 20px 0;
  background-color: #8755F1;
  color: white;
}
.search__content {
  width: 80%;
}
.search__content__item {
  flex: 1;
}
.search__content__item select {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  color: #666565;
}

.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 40px auto;
}
.categories .category {
  width: 200px;
  height: 100px;
  text-align: center;
  background-color: white;
  padding-top: 20px;
  border-radius: 10px;
  margin: 10px auto;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.categories .category i, .categories .category p {
  color: #0E2E50;
  font-weight: bold;
  transition: color 0.3s ease;
}
.categories .category:hover {
  background-color: #8755F1;
}
.categories .category:hover i, .categories .category:hover p {
  color: white;
}

.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.services__image {
  position: relative;
}
.services__image .image {
  width: 450px;
  height: 300px;
  margin: 35px auto auto 15px;
  border-radius: 10px;
}
.services__image__bg {
  width: 55%;
  margin: auto 0;
  background-color: #8755F1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
  height: 370px;
  border-radius: 10px;
}
.services__text {
  margin: 15px auto;
  padding-left: 10px;
  padding-top: 15px;
  text-align: justify;
}

.ads {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: baseline;
}
.ads .ad {
  width: 340px;
  cursor: pointer;
  background-color: white;
  display: block;
  border-radius: 5px;
  color: #666565;
  margin: 10px auto;
}
.ads .ad__image {
  position: relative;
  margin: auto;
  border-radius: 10px;
  text-align: center;
}
.ads .ad__image img {
  border-radius: 10px;
  width: 95%;
  height: 250px;
  margin: auto;
}
.ads .ad__image .action {
  position: absolute;
  top: 15px;
  left: 15px;
  width: auto;
  background-color: #8755F1;
  color: white;
  padding: 3px 10px;
}
.ads .ad__image .category {
  position: absolute;
  bottom: 0;
  left: 15px;
  background-color: white;
  color: #8755F1;
  padding: 3px 10px;
  border-radius: 0;
}
.ads .ad__infos .price {
  color: #8755F1;
  font-weight: bold;
  padding-left: 30px;
  font-size: 1.2em;
  margin: 15px 0;
}
.ads .ad__infos .name {
  color: #0E2E50;
  font-size: 1.3em;
  margin: 10px 30px;
  font-weight: bold;
}
.ads .ad__infos .more__details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px auto;
  color: #666565;
  width: 95%;
}
.ads .ad__infos .more__details i {
  color: #8755F1;
}
.ads .ad__infos .more__details .location {
  padding-left: 10px;
}
.ads .ad__infos .more__details .date {
  padding-right: 15px;
}
.ads .ad__infos .final__details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px auto;
  color: #666565;
  width: 100%;
  font-size: 0.9em;
  padding-left: 5px;
  padding-right: 5px;
  justify-content: center;
}
.ads .ad__infos .final__details .detail {
  border: 1px solid #8755F1;
  padding: 2px;
}
.ads .ad__infos .final__details .detail i {
  margin-right: 2px;
  color: #8755F1;
}
.ads .ad:hover__image img {
  width: 110%;
}

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.about__image {
  position: relative;
}
.about__image .image {
  width: 450px;
  height: 300px;
  margin: 35px auto auto 15px;
  border-radius: 10px;
}
.about__image__bg {
  width: 55%;
  margin: auto 0;
  background-color: #8755F1;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -9999;
  height: 370px;
  border-radius: 10px;
}
.about__text {
  margin: 15px auto;
  padding-left: 10px;
  padding-top: 40px;
  text-align: justify;
}
.about__text strong {
  color: #8755F1;
}

.testimonials .testimonial {
  background-color: #fff;
  display: flex;
  padding: 10px;
}
.testimonials .testimonial .text {
  width: 65%;
}
.testimonials .testimonial .user {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
  width: 30%;
  text-align: center;
}
.testimonials .testimonial .user__image img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.testimonials .testimonial .user__name {
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  margin: auto 10px;
}
.testimonials .testimonial .user__name span {
  margin: 5px auto;
}
.testimonials .testimonial .user__name strong {
  margin: 5px auto;
  font-weight: bold;
  color: #333;
  color: red;
}

.controllers {
  height: 60px;
  width: 60px;
  background-color: #8755F1;
  border: none;
  border: 1px solid white;
  display: none;
}

.vision__image {
  position: relative;
  padding-top: 20px;
}
.vision__image .image {
  width: 450px;
  height: 300px;
  margin: 35px auto auto 15px;
  border-radius: 10px;
}
.vision__image__bg {
  width: 55%;
  margin: auto 0;
  background-color: #8755F1;
  position: absolute;
  top: 20px;
  right: 0;
  z-index: -9999;
  height: 370px;
  border-radius: 10px;
}
.vision__text {
  margin: 15px auto;
  padding-left: 10px;
  padding-top: 40px;
  text-align: justify;
}
.vision__text strong {
  color: #8755F1;
}

.table {
  text-align: center;
}
.table img {
  width: 90px;
  height: 60px;
  border-radius: 10px;
}

.table-top {
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0;
}
.table-top .new {
  margin-left: 0;
  left: 0;
}
.table-top .search-menu {
  margin-right: 0;
  width: 250px;
  position: relative;
  text-align: center;
  height: 15px;
  padding-top: 0;
  float: right;
}
.table-top .search-menu input {
  width: 100%;
  margin: 0;
  top: 0;
}
.table-top .search-menu .open {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #778CFD;
  font-weight: bold;
}
.table-top .search-menu .close {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #778CFD;
  font-weight: bold;
}

.search-results {
  margin-top: 10px;
}
.search-results ul {
  list-style-type: none;
  padding: 0;
}
.search-results ul li {
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.footer {
  color: white;
  text-align: left;
  padding: 20px;
  background-color: #0E2E50;
  padding-top: 40px;
}
.footer__items__item h4 {
  font-weight: bold;
}
.footer__items__item ul li {
  margin: 15px auto;
}
.footer__items__item ul li i, .footer__items__item ul li a {
  color: white;
  text-decoration: none;
}
.footer__items__item ul li a:hover {
  color: #778CFD;
}
.footer__items__item .footer__gallery img {
  width: 80px;
  height: 60px;
  border-radius: 10px;
  margin: 5px;
  border: 5px white solid;
}
.footer__items__item ul li a {
  color: rgba(255, 255, 255, 0.5);
}
.footer hr {
  background-color: white;
  height: 1px;
  width: 90%;
  margin: 40px auto 40px auto;
}

@media (max-width: 1200px) {
  .hero__content h1 {
    font-size: 2.5em;
  }
  .services__image .image,
  .vision__image .image,
  .about__image .image {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 992px) {
  .categories {
    justify-content: center;
  }
  .categories .category {
    width: 100%;
    max-width: 300px;
  }
  .services__image .image,
  .vision__image .image,
  .about__image .image {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 768px) {
  .hero__content h1 {
    font-size: 2em;
  }
  .categories .category {
    width: 100%;
    margin-bottom: 10px;
  }
  .services,
  .ads,
  .about,
  .testimonials,
  .vision {
    flex-direction: column;
  }
  .services__image .image,
  .vision__image .image,
  .about__image .image {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .services__text,
  .about__text,
  .vision__text {
    padding: 0;
    text-align: center;
  }
}
@media (max-width: 576px) {
  .hero__content h1 {
    font-size: 1.5em;
  }
  .categories .category {
    width: 100%;
    margin-bottom: 10px;
  }
  .services,
  .ads,
  .about,
  .testimonials,
  .vision {
    flex-direction: column;
  }
  .services__image .image,
  .vision__image .image,
  .about__image .image {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
  .services__text,
  .about__text,
  .vision__text {
    padding: 0;
    text-align: center;
  }
}/*# sourceMappingURL=main.css.map */