@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap");
html, body {
  background-color: #EFFDF5;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

.app {
  position: relative;
}
.app .back-to-top {
  background-color: #8755F1;
  border-radius: 30px;
  position: fixed;
  right: 20px;
  bottom: 5px;
}

h1 {
  color: #8755F1;
  font-weight: bold;
}

h2 {
  color: #0E2E50;
}

a {
  color: #8755F1;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

strong {
  color: #8755F1;
  font-weight: bold;
}

.red {
  color: red;
  font-weight: bold;
}

ul li {
  list-style: none;
}

.btn-primary {
  background-color: #8755F1;
}

.hero {
  height: 85vh;
  margin: 0 auto;
  z-index: -9999;
  display: block;
  background-image: linear-gradient(rgba(177, 108, 223, 0.548), rgba(15, 35, 153, 0.589)), url("http://127.0.0.1/immo2/public/img/hero1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 15px;
  width: 100%;
  padding-top: 50px;
}
.hero__content {
  width: 80%;
  margin: auto;
  height: 100%;
  padding-top: 110px;
  text-align: center;
}
.hero__content h1 {
  font-size: 3em;
  color: white;
}
.hero__content p {
  margin: 40px auto;
  font-weight: 800;
}

.search {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #8755F1;
}

.categories {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 40px auto;
}
.categories .category {
  width: 200px;
  height: 120px;
  text-align: center;
  display: block;
  background-color: white;
  padding-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}
.categories .category__icon {
  color: #8755F1;
}
.categories .category__name {
  color: #0E2E50;
  font-weight: bold;
}
.categories .category:hover {
  background-color: #8755F1;
}
.categories .category:hover__icon i {
  color: white;
  color: red;
}
.categories .category:hover__name {
  color: white;
  color: red;
}

.services {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.services__image {
  position: relative;
}
.services__image .image {
  width: 450px;
  height: 300px;
  margin: 35px auto auto 15px;
  border-radius: 10px;
}
.services__image__bg {
  width: 55%;
  margin: auto 0;
  background-color: #8755F1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -9999;
  height: 370px;
  border-radius: 10px;
}
.services__text {
  margin: 15px auto;
  padding-left: 10px;
  padding-top: 15px;
  text-align: justify;
}

.ads {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.ads .ad {
  width: 330px;
  cursor: pointer;
  background-color: white;
  display: block;
  border-radius: 5px;
  color: #666565;
  margin: 5px;
}
.ads .ad__image {
  position: relative;
  margin: auto;
  border-radius: 10px;
}
.ads .ad__image img {
  border-radius: 10px;
  width: 100%;
  height: 250px;
}
.ads .ad__image .action {
  position: absolute;
  top: 15px;
  left: 15px;
  width: auto;
  background-color: #8755F1;
  color: white;
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
}
.ads .ad__image .category {
  position: absolute;
  bottom: 0;
  left: 15px;
  background-color: white;
  color: #8755F1;
  padding: 3px;
  padding-right: 10px;
  padding-left: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.ads .ad__infos .price {
  color: #8755F1;
  font-weight: bold;
  padding-left: 30px;
  font-size: 1.2em;
  margin: 15px auto auto auto;
}
.ads .ad__infos .name {
  color: #0E2E50;
  font-size: 1.3em;
  margin: 10px auto;
  border-bottom: none;
  font-weight: bold;
  margin: 10px auto auto 30px;
}
.ads .ad__infos .more__details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px auto;
  color: #666565;
  width: 95%;
}
.ads .ad__infos .more__details .location {
  padding-left: 10px;
}
.ads .ad__infos .more__details .date {
  padding-right: 15px;
}
.ads .ad__infos .final__details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10px auto;
  color: #666565;
  width: 95%;
}
.ads .ad__infos .final__details .detail {
  flex: 1;
  border: 1px solid grey;
  padding-left: 10px;
  border-radius: 5px;
}
.ads .ad:hover__image img {
  width: 110%;
}

.about {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.about__image {
  position: relative;
}
.about__image .image {
  width: 450px;
  height: 300px;
  margin: 35px auto auto 15px;
  border-radius: 10px;
}
.about__image__bg {
  width: 55%;
  margin: auto 0;
  background-color: #8755F1;
  position: absolute;
  border-radius: 10px;
  top: 0;
  right: 0;
  z-index: -9999;
  height: 370px;
}
.about__text {
  margin: 15px auto;
  padding-left: 10px;
  padding-top: 40px;
  text-align: justify;
}
.about__text strong {
  color: #8755F1;
}

.testimony {
  background-color: white;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: column;
  color: #8755F1;
}
.testimony__details {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.testimony__details__image img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}
.testimony__details__infos span {
  color: #8755F1;
}

.vision__image {
  position: relative;
  padding-top: 20px;
}
.vision__image .image {
  width: 450px;
  height: 300px;
  margin: 35px auto auto 15px;
  border-radius: 10px;
}
.vision__image__bg {
  width: 55%;
  margin: auto 0;
  background-color: #8755F1;
  position: absolute;
  top: 20px;
  right: 0;
  z-index: -9999;
  height: 370px;
  border-radius: 10px;
}
.vision__text {
  margin: 15px auto;
  padding-left: 10px;
  padding-top: 15px;
  text-align: justify;
}

.footer {
  background-color: #0E2E50;
  color: white;
  padding-top: 60px;
  padding-bottom: 30px;
}
.footer i {
  color: #8755F1;
  margin-right: 1px;
}
.footer__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.footer__items__item {
  display: block;
  padding-left: 30px;
  flex: 1;
}
.footer__items__item h4 {
  color: white;
  padding-right: 15px;
}
.footer__items__item ul {
  margin: 20px auto;
}
.footer__items__item ul li {
  margin: 15px auto;
  color: rgba(255, 255, 255, 0.5);
}
.footer__items__item ul li a {
  color: rgba(255, 255, 255, 0.5);
}
.footer__items__item ul li a:hover {
  color: #8755F1;
}
.footer__items__item .footer__gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  padding-right: 15px;
}
.footer__items__item .footer__gallery img {
  width: 80px;
  height: 60px;
  border-radius: 10px;
  margin: 5px;
  border: 5px white solid;
}
.footer hr {
  width: 80%;
  margin: 20px auto;
  height: 1px;
  background-color: white;
}
.footer__bottom {
  margin: 25px auto;
}
.footer__bottom .text {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
}
.footer__bottom .text p {
  text-align: center;
}
.footer__bottom .text p strong {
  color: #8755F1;
}

/*responsive for 1024px*/
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .ads .ad {
    width: 350px;
    margin: 30px;
  }
}
/*responsive for 767px*/
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .hero {
    height: 100vh;
  }
  .categories .category {
    margin: 10px;
    width: 250px;
    height: 150pxs;
  }
  .services {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    text-align: center;
    width: 100%;
    margin: auto auto 30px auto;
    padding-bottom: 20px;
  }
  .services__image {
    text-align: center;
    margin: auto;
  }
  .services__image .image {
    width: 400px;
    height: 280px;
  }
  .services__image__bg {
    height: 350px;
  }
  .services__text {
    margin: 15px auto;
    width: 100%;
  }
  .ads {
    margin: 20px;
  }
  .ads .ad {
    width: 350px;
    margin: 15px auto;
  }
  .about {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
/*responsive for 550px*//*# sourceMappingURL=main.css.map */