@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

$primary: #8755F1;
$secondary: #778CFD;
$tertiary: #0E2E50;
$white: white;
$black: black;
$grey: #666565;
$red: red;
$grey-dark: rgba(255, 255, 255, 0.5);
$bg: #EFFDF5;

html, body {
    background-color: $bg;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.bg-secondary {
    background-color: $secondary !important;
}

.back-to-top {
    background-color: $primary;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    position: fixed;
    right: 15px;
    bottom: 5px;
    cursor: pointer;
    text-align: center;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-to-top:hover {
    background-color: $secondary;
    transition: 500ms ease-in-out;
}

@mixin flex($flex-direction: row) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: $flex-direction;
}

.app {
    position: relative;
}

h1 {
    color: $primary;
    font-weight: bold;
}

h2 {
    color: $tertiary;
}

a {
    color: $primary;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

strong {
    color: $primary;
    font-weight: bold;
}

.red {
    color: $red;
    font-weight: bold;
}

ul {
    li {
        list-style: none;
    }
}

.btn-primary {
    background-color: $primary;
    color: $white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.hero {
    height: 85vh;
    margin: 0;
    width: 100%;
    display: block;
    background-image: linear-gradient(rgba(177, 108, 223, 0.548), rgba(15, 35, 153, 0.589)), url('http://127.0.0.1/immo2/public/img/hero1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0;
    overflow: hidden;

    &__content {
        width: 80%;
        margin: auto;
        height: 100%;
        padding-top: 110px;
        text-align: center;

        h1 {
            font-size: 3em;
            color: $white;
        }

        p {
            margin: 40px auto;
            font-weight: 800;
        }
    }
}

.search {
    width: 100%;
    padding: 20px 0;
    background-color: $primary;
    color: $white;
    height: auto;

    &__content{
        width: 90%;
        @include flex();

        &__item{
            flex: 1;
            width: 100%;
            margin: 10px;
            select{
                width: 100%;
                padding-left: 15px;
                padding-right: 15px;
                color: $grey;
            }
        }
    }
}

.categories {
    @include flex();
    margin: 40px auto;

    .category {
        width: 200px;
        height: 100px;
        text-align: center;
        background-color: $white;
        padding-top: 20px;
        border-radius: 10px;
        margin: 10px auto;
        cursor: pointer;
        transition: background-color 0.3s ease, color 0.3s ease;

        i, p {
            color: $tertiary;
            font-weight: bold;
            transition: color 0.3s ease;
        }
    }

    .category:hover {
        background-color: $primary; // Change this to your desired hover background color
        
        i, p {
            color: $white;
        }
    }
}

.services {
    @include flex();

    &__image {
        position: relative;

        .image {
            width: 450px;
            height: 300px;
            margin: 35px auto auto 15px;
            border-radius: 10px;
        }

        &__bg {
            width: 55%;
            margin: auto 0;
            background-color: $primary;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -9999;
            height: 370px;
            border-radius: 10px;
        }
    }

    &__text {
        margin: 15px auto;
        padding-left: 10px;
        padding-top: 15px;
        text-align: justify;
    }
}

.ads {
    @include flex();
    justify-content: baseline;

    .ad {
        width: 340px;
        cursor: pointer;
        background-color: $white;
        display: block;
        border-radius: 5px;
        color: $grey;
        margin: 10px auto ;

        &__image {
            position: relative;
            margin: auto;
            border-radius: 10px;
            text-align: center  ;

            img {
                border-radius: 10px;
                width: 95%;
                height: 250px;
                margin: auto;
            }

            .action {
                position: absolute;
                top: 15px;
                left: 15px;
                width: auto;
                background-color: $primary;
                color: $white;
                padding: 3px 10px;
            }

            .category {
                position: absolute;
                bottom: 0;
                left: 15px;
                background-color: $white;
                color: $primary;
                padding: 3px 10px;
                border-radius: 0;
            }
        }

        &__infos {
            .price {
                color: $primary;
                font-weight: bold;
                padding-left: 30px;
                font-size: 1.2em;
                margin: 15px 0;
            }

            .name {
                color: $tertiary;
                font-size: 1.3em;
                margin: 10px 30px;
                font-weight: bold;
            }

            .more__details {
                @include flex();
                margin: 10px auto;
                color: $grey;
                width: 95%;

                i{
                    color: $primary;
                }

                .location {
                    padding-left: 10px;
                }

                .date {
                    padding-right: 15px;
                }
            }

            .final__details {
                @include flex();
                margin: 10px auto;
                color: $grey;
                width: 100%;
                font-size: 0.9em;
                padding-left: 5px;
                padding-right: 5px;
                justify-content: center;

                .detail {
                    border: 1px solid $primary;;
                    padding: 2px;

                    i {
                        margin-right: 2px;
                        color: $primary;
                    }
                }
            }
        }
    }

    .ad:hover {
        &__image {
            img {
                width: 110%;
            }
        }
    }
}

.advertisers{
    .advertiser{
        border-radius: 15px;
        margin: 10px;
        width: 340px;
        background-color: $white;
        cursor: pointer;

    }
}

.about {
    @include flex();
    
    &__image {
        position: relative;

        .image {
            width: 450px;
            height: 300px;
            margin: 35px auto auto 15px;
            border-radius: 10px;
        }

        &__bg {
            width: 55%;
            margin: auto 0;
            background-color: $primary;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -9999;
            height: 370px;
            border-radius: 10px;
        }
    }

    &__text {
        margin: 15px auto;
        padding-left: 10px;
        padding-top: 40px;
        text-align: justify;

        strong {
            color: $primary;
        }
    }
}

.testimonials {
        .testimonial {
            background-color: #fff; // Adjusted color
            display: flex;
            padding: 10px;

            .text{
                width: 65%;
            }

            .user {
                @include flex(column);
                justify-content: start;
                width: 30%;
                text-align: center;

                &__image {
                    img {
                        width: 60px;
                        height: 60px;
                        border-radius: 30px;
                    }
                }

                &__name {
                    padding-top: 0px;
                    display: flex;
                    flex-direction: column;
                    margin: auto 10px;

                    span {
                        margin: 5px auto;
                        font-weight: bold;
                        color: $primary;
                    }

                    strong {
                        margin: 5px auto;
                        font-weight: bold;
                        color: $tertiary;
                    }
                }
            }
        }
}


.controllers {
    height: 60px;
    width: 60px;
    background-color: $primary;
    border: none;
    border: 1px solid $white;
    display: none;
}

.vision {
    &__image {
        position: relative;
        padding-top: 20px;

        .image {
            width: 450px;
            height: 300px;
            margin: 35px auto auto 15px;
            border-radius: 10px;
        }

        &__bg {
            width: 55%;
            margin: auto 0;
            background-color: $primary;
            position: absolute;
            top: 20px;
            right: 0;
            z-index: -9999;
            height: 370px;
            border-radius: 10px;
        }
    }

    &__text {
        margin: 15px auto;
        padding-left: 10px;
        padding-top: 40px;
        text-align: justify;

        strong {
            color: $primary;
        }
    }
}

.table{
    text-align: center;
    img{
        width: 90px;
        height: 60px;
        border-radius: 10px;
    }
}
.table-top {
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 0;

    .new {
        margin-left: 0;
        left: 0;
    }

    .search-menu {
        margin-right: 0;
        width: 250px;
        position: relative;
        text-align: center;
        height: 20px;
        padding-top: 10px;
        float: right;
        

        input {
            width: 100%;
            margin: 0;
            top: 0;
        }

        .open {
            position: absolute;
            right: 5px;
            top: 15px;
            color: $secondary;
            font-weight: bold;
        }

        .close {
            position: absolute;
            right: 5px;
            top: 15px;
            color: $secondary;
            font-weight: bold;
        }
    }
}

.search-results {
    margin-top: 10px;
    ul {
        list-style-type: none;
        padding: 0;
        li {
            padding: 5px;
            border-bottom: 1px solid #ddd;
        }
    }
}

.footer {
    color: $white;;
    text-align: left;
    padding: 20px;
    background-color: $tertiary;
    padding-top: 40px;

    &__items{
        &__item{

            h4{
                font-weight: bold;
            }

            ul{
                li{
                    margin: 15px auto;
                    i, a{
                        color: $white;
                        text-decoration: none;
                    }

                    a:hover{
                        color: $secondary;
                    }
                    
                }
            }
            .footer__gallery{
                img{
                    width: 80px;
                    height: 60px;
                    border-radius: 10px;
                    margin: 5px;
                    border: 5px $white solid;
                }
            }

            ul{
                li{
                    a{
                        color: $grey-dark;
                    }
                }
            }
        }
    }

    hr{
        background-color: $white;
        height: 1px;
        width: 90%;
        margin: 40px auto 40px auto;
    }
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
  }
  
  .table-responsive table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
  }
  
  .table-responsive th,
  .table-responsive td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .table-responsive thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table-responsive tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .table-responsive table-sm td,
  .table-responsive table-sm th {
    padding: 0.3rem;
  }
  
  @media (max-width: 767.98px) {
    .table-responsive {
      border: 0;
    }
  
    .table-responsive thead {
      display: none;
    }
  
    .table-responsive tr {
      display: block;
      margin-bottom: 0.625rem;
    }
  
    .table-responsive td {
      display: block;
      text-align: right;
    //  font-size: 0.8em;
      border-top: 1px solid #dee2e6;
      position: relative;
      padding-left: 50%;
    }
  
    .table-responsive td::before {
      content: attr(data-label);
      font-weight: bold;
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 0.75rem;
      white-space: nowrap;
      text-align: left;
    }
  }
  

// Media Queries for responsiveness
@media (max-width: 1200px) {
    .hero__content h1 {
        font-size: 2.5em;
    }

    .services__image .image,
    .vision__image .image,
    .about__image .image {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 992px) {
    .categories {
        justify-content: center;

        .category {
            width: 100%;
            max-width: 300px;
        }
    }

    .services__image .image,
    .vision__image .image,
    .about__image .image {
        width: 100%;
        height: auto;
    }

   
}

@media (max-width: 768px) {
    .hero__content h1 {
        font-size: 2em;
    }

    .categories {
        .category {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .services,
    .ads,
    .about,
    .testimonials,
    .vision {
        flex-direction: column;
    }

    .services__image .image,
    .vision__image .image,
    .about__image .image {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .services__text,
    .about__text,
    .vision__text {
        padding: 0;
        text-align: center;
    }

    .search{
        &__content{
            width: 100%;

            &__item{
                
            }
        }
    }

    
}

@media (max-width: 576px) {
    .hero__content h1 {
        font-size: 1.5em;
    }

    .categories {
        .category {
            width: 100%;
            margin-bottom: 10px;
        }
    }

    .services,
    .ads,
    .about,
    .testimonials,
    .vision {
        flex-direction: column;
    }

    .services__image .image,
    .vision__image .image,
    .about__image .image {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    .services__text,
    .about__text,
    .vision__text {
        padding: 0;
        text-align: center;
    }

    .search{
        &__content{
            @include flex(column);

            &__item{
                margin: 5px auto;
            }
        }
    }

    .table-top{
        flex-direction: column;

        .search-menu{
            margin: 10px auto 15px 0;
        }
    }

    .hero{
       // display: none;
    }
}
