/********** Template CSS **********/
:root {
    /*  --primary: #00B98E;
      --secondary: #FF6922;
      --light: #EFFDF5;
      --dark: #0E2E50;
  */
  
       --primary: #8755F1;
      --secondary: #778CFD;
      --light: blue;
      --dark: #03404b;
  }


  .blue{
    color: #8755F1;
  }
  
  .red{
    color: red;
    font-weight: bold;
  }
  .text-blue{
    color: #8755F1;
  }

  .text-blue:hover{
    color: #778CFD;
  }

  .btn-blue{
    background-color: #8755F1;
    border: 1px #8755F1 solid;
    color: white;
  }

  .btn-blue:hover{
    background-color: #778CFD;
    border: 1px #778CFD solid;
    color: white;
  }


  .btn-dark{
    background-color: #778CFD;
    border: 1px solid #778CFD;
  }

  .bg-blue{
    background-color: #8755F1;
  }

  .icon:hover{
    i{
        color: #8755F1;
    }
  }